<!DOCTYPE html>
<html  ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- CSS Files -->

    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/style/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/menu/css/simple_menu.css" />
    <style>
        #panes {
            background: #fff;
            width: auto;
            margin: auto;
            height: 300px;
            margin-bottom: -20px;
            padding-bottom: 20px;
            /* must be relative so the individual panes can be absolutely positioned */
            position: relative;
        }
    </style>
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#prod_nav ul").tabs("#panes > div", {
                effect: 'fade',
                fadeOutSpeed: 400
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".pane-list li").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
    </script>




</head>
<body>
    <!-- Main Menu -->
    <ol id="menu">
        <li class="active_menu_item">
            @Html.ActionLink("Home", "Index", "Home", new { style = "color:#FFF" });
            <!-- sub menu -->
            <ol>
                <li><a href="@Url.Action("Create", "Home")">Create Car</a></li>
            </ol>
        </li>
    </ol>

    @RenderBody()

    <hr />
    <div id="footer">
        <!-- First Column -->
        <div class="one-fourth">
            <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
        </div>
        <!-- Second Column -->
        <div class="one-fourth">
            <h3>Terms</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
        </div>
        <!-- Third Column -->
        <div class="one-fourth">
            <h3>Information</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.

        </div>
        <!-- Fourth Column -->
        <div class="one-fourth last">
            <h3>Socialize</h3>
            <img src="~/Content/img/icon_fb.png" alt=""> <img src="~/Content/img/icon_twitter.png" alt=""> <img src="~/Content/img/icon_in.png" alt="">
        </div>
        <div style="clear:both"></div>
    </div>


    @Scripts.Render("~/bundles/jquery")
   

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/shared/Services/dataService.js"></script>
    <script src="~/Scripts/app/Controller/HomeController.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
